[submodule "benchmarks/fastify-benchmarks"]
	path = benchmarks/fastify-benchmarks
	url = https://github.com/fastify/benchmarks
[submodule "benchmarks/promise-performance-tests"]
	path = benchmarks/promise-performance-tests
	url = https://github.com/mmarchini/promise-performance-tests
	branch = crash-collector-tests
